/* .css-binzgt{
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 4px lightgrey;
} */

/* .css-nzinn5-MuiContainer-root {
    max-width: 523px !important;
} */
